#main {
	height: calc(100vh - 130px);
	width: 100%;
	flex-direction: row;
	overflow-y: auto;
}

#save {
	position: fixed;
	bottom: 2px;
	width: 96vw;
	margin-left: 1.8vw;
}

@media only screen and (max-width: 950px) {
	#main {
		height: calc(100vh - 65px);
		flex-direction: column;
		align-items: center;
	}

	#save {
		margin-left: none;
		margin: auto;
	}
}
